//SESSION_ID=VANGUARD-MD;;;xxxxxx

//PHONE_NUMBER=256745626308

//Dont put session id ør Number  in Quotes 
//Put your number without spaces ør +
//Capital letters If you are to manually write your .env file

//Enjoy your Bot 🤗🤗
